[Unit]
Description=Service running the Godot game server.

[Service]
ExecStart=/bin/bash /usr/src/start-server.sh

[Install]
WantedBy=multi-user.target

