[Unit]
Description=Service running the Godot game server.

[Service]
Type=simple
Restart=always
User=admin
ExecStart=/bin/bash /home/admin/start-server.sh

[Install]
WantedBy=multi-user.target

